/* General font styles */
html {
	font: 100%/1.3 Verdana, Helvetica, Arial, sans-serif;
}

body {
	font: 70%/1.3 Verdana, Helvetica, Arial, sans-serif;
}

select, table {
	font-size: 1em;
}

h1 {
	font: bold 2em Arial, sans-serif;
}
                       
h2 {                     
	font: bold 1.5em Arial, sans-serif;
}
                       
h3 {                     
	font: bold 1.25em Arial, sans-serif;
}
                       
h4 {                     
	font: bold 1.1em Arial, sans-serif;
}

/* Default resetting */
html, body, form, fieldset, legend, dt, dd {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
	margin: 0 0 1em;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

pre {
	font-size: 1.5em;
}

li, dd {
	margin-left: 1.5em;
}

img {
    border: none;
	vertical-align: middle;
}

/* Basic element styles */
a {
	color: #000;
}

a:hover {
	text-decoration: underline;
}

html {
	color: #000;
	background: #800000;
	
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#800000), to(#F00));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #800000, #F00);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF800000, endColorstr=#FFFF0000);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF800000, endColorstr=#FFFF0000)";
	min-height: 100%;
}

body {
	margin-bottom: 30px;
}

h1 {
	color: #6c9af8;
}

h1 a {
	position: relative;
	left: 20px;
	top: -0.4em;
	color: #6c9af8;
	font-size: 0.5em;
	line-height: 0.5em;
}

h2 {
	margin: 1em 0 0.5em;
	border-bottom: 1px solid #000;
}

#index-page h3 {
	border-bottom: 1px solid #000;
	padding-bottom: 0.5em;
	margin: 2em 0 1.5em;
}

pre{
	background: #eee;
	padding: 1em;
	overflow: auto;
}

dl {
	overflow: hidden;
}

dt {
	font-weight: bold;
}

input {
	vertical-align: middle;
}

table {
	width: 100%;
	margin: 0 0 1em;
}

th, td {
	text-align: left;
	padding: 0.5em;
	border-bottom: 1px solid #ccc;
}

td {
	width: 500px;
	vertical-align: top;
}

th {
	width: 180px;
	border-right: 1px solid #ccc;
}

thead th {
	border-color: #000;
}

th.last {
	border-right: none;
}

th.section-title {
	text-align: center;
	border-right: none;
	padding: 1em 0.5em;
}

tr.even {
	background: #eee;
}



/* Structure */
#container {
	width: 760px;
	min-height: 600px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: none;
	margin: 20px auto;
	padding: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 10px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 10px #000;
}

#main-content {
	/*overflow: hidden;*/
}

.navigation {
	background: #eee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 2em;
	padding: 1em;
}

.navigation li {
	margin-bottom: 0.5em;
}

.navigation h2 {
	border-bottom: none;
}

.section {
	border-bottom: 1px solid #ccc;
	margin: 2em 0;
	padding-bottom: 1em;
}

.browsers {
	list-display: none;
	margin: 0;
}

.browsers li {
	display: inline;
	margin: 0 10px 0 0;
}

.failed {
	color: #f00;
}


.statcounter {
	position: absolute;
	left: -99999px;
}

/* HTML5 demos */
header,
nav,
section,
article,
aside,
footer {
	display: block;
}

time {
	display: inline;
}

#demo-top-nav {
	margin-bottom: 2em;
	border-bottom: 1px solid #000;
}

#demo-main {
	overflow: hidden;
}

#demo-main-content {
	float: left;
	width: 70%;
}

#demo-main-content h2,
#demo-main-content h3 {
	border-bottom: none;
	margin: 0 0 5px;
	padding: 0;
}

#demo-aside-content {
	float: right;
	width: 25%;
	color: #fff;
	background: #6c9af8;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#page-footer {
	border-top: 1px solid #000;
	margin-top: 4em;
	padding-top: 1em;
}


/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/wiki/SyntaxHighlighter:Donate
 *
 * @version
 * 2.0.296 (March 01 2009)
 * 
 * @copyright
 * Copyright (C) 2004-2009 Alex Gorbatchev.
 *
 * @license
 * This file is part of SyntaxHighlighter.
 * 
 * SyntaxHighlighter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * SyntaxHighlighter is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with SyntaxHighlighter.  If not, see <http://www.gnu.org/licenses/>.
 */
.syntaxhighlighter,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter span {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	outline: 0 !important;
	background: none !important;
	text-align: left !important;
	float: none !important;
	vertical-align: baseline !important;
	position: static !important;
	left: auto !important;
	top: auto !important;
	right: auto !important;
	bottom: auto !important;
	height: auto !important;
	width: auto !important;
	line-height: 1.2em !important;
	font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	font-weight: normal !important;
	font-style: normal !important;
	font-size: 13px !important;
}

.syntaxhighlighter {
	width: 100% !important;
	margin: 1em 0 1em 0 !important;
	padding: 1px !important; /* adds a little border on top and bottom */
	position: relative !important;
}

.syntaxhighlighter .bold {
	font-weight: bold !important;
}

.syntaxhighlighter .italic {
	font-style: italic !important;
}

.syntaxhighlighter .line .number {
	float: left !important; 
	width: 3em !important; 
	padding-right: .3em !important;
	text-align: right !important;
	display: block !important;
}

/* Disable numbers when no gutter option is set */
.syntaxhighlighter.nogutter .line .number {
	display: none !important;
}

.syntaxhighlighter .line .content {
	margin-left: 3.3em !important; 
	padding-left: .5em !important;
	display: block !important;
}

.syntaxhighlighter .line .content .block {
	display: block !important;
	padding-left: 1.5em !important;
	text-indent: -1.5em !important;
}

.syntaxhighlighter .line .content .spaces {
	display: none !important;
}

/* Disable border and margin on the lines when no gutter option is set */
.syntaxhighlighter.nogutter .line .content {
	margin-left: 0 !important; 
	border-left: none !important;
}

.syntaxhighlighter .bar {
}

.syntaxhighlighter.collapsed .bar {

}

.syntaxhighlighter.nogutter .ruler {
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.syntaxhighlighter .ruler {
	padding: 0 0 .5em .5em !important;
	margin-left: 3.3em !important;
	overflow: hidden !important;
}

/* Adjust some properties when collapsed */

.syntaxhighlighter.collapsed .lines,
.syntaxhighlighter.collapsed .ruler {
	display: none !important;
}

/* Styles for the toolbar */

.syntaxhighlighter .toolbar {
	position: absolute !important;
	right: 0px !important;
	top: 0px !important;
	font-size: 1px !important;
	padding: 8px 8px 8px 0 !important; /* in px because images don't scale with ems */
}

.syntaxhighlighter.collapsed .toolbar {
	font-size: 80% !important;
	padding: .2em 0 .5em .5em !important;
	position: static !important;
}

.syntaxhighlighter .toolbar a.item,
.syntaxhighlighter .toolbar .item {
	display: block !important;
	float: left !important;
	margin-left: 8px !important;
	background-repeat: no-repeat !important;
	overflow: hidden !important;
	text-indent: -5000px !important;
}

.syntaxhighlighter.collapsed .toolbar .item {
	display: none !important;
}

.syntaxhighlighter.collapsed .toolbar .item.expandSource {
	background-image: url(../syntax-highlighter/styles/magnifier.png) !important;
	display: inline !important;
	text-indent: 0 !important;
	width: auto !important;
	float: none !important;
	height: 16px !important;
	padding-left: 20px !important;
}

.syntaxhighlighter .toolbar .item.viewSource {
	background-image: url(../syntax-highlighter/styles/page_white_code.png) !important;
}

.syntaxhighlighter .toolbar .item.printSource {
	background-image: url(../syntax-highlighter/styles/printer.png) !important;
}

.syntaxhighlighter .toolbar .item.copyToClipboard {
	text-indent: 0 !important;
	background: none !important;
	overflow: visible !important;
}

.syntaxhighlighter .toolbar .item.about {
	background-image: url(../syntax-highlighter/styles/help.png) !important;
}

/** 
 * Print view.
 * Colors are based on the default theme without background.
 */

.syntaxhighlighter.printing,
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content,
.syntaxhighlighter.printing .line .content .block {
	background: none !important;
}

/* Gutter line numbers */
.syntaxhighlighter.printing .line .number {
	color: #bbb !important;
}

/* Add border to the lines */
.syntaxhighlighter.printing .line .content {
	color: #000 !important;
}

/* Toolbar when visible */
.syntaxhighlighter.printing .toolbar,
.syntaxhighlighter.printing .ruler {
	display: none !important;
}

.syntaxhighlighter.printing a {
	text-decoration: none !important;
}

.syntaxhighlighter.printing .plain,
.syntaxhighlighter.printing .plain a { 
	color: #000 !important;
}

.syntaxhighlighter.printing .comments,
.syntaxhighlighter.printing .comments a { 
	color: #008200 !important;
}

.syntaxhighlighter.printing .string,
.syntaxhighlighter.printing .string a {
	color: blue !important; 
}

.syntaxhighlighter.printing .keyword { 
	color: #069 !important; 
	font-weight: bold !important; 
}

.syntaxhighlighter.printing .preprocessor { 
	color: gray !important; 
}

.syntaxhighlighter.printing .variable { 
	color: #a70 !important; 
}

.syntaxhighlighter.printing .value { 
	color: #090 !important; 
}

.syntaxhighlighter.printing .functions { 
	color: #ff1493 !important; 
}

.syntaxhighlighter.printing .constants { 
	color: #0066CC !important; 
}

.syntaxhighlighter.printing .script {
	font-weight: bold !important;
}

.syntaxhighlighter.printing .color1,
.syntaxhighlighter.printing .color1 a { 
	color: #808080 !important; 
}

.syntaxhighlighter.printing .color2,
.syntaxhighlighter.printing .color2 a { 
	color: #ff1493 !important; 
}

.syntaxhighlighter.printing .color3,
.syntaxhighlighter.printing .color3 a { 
	color: red !important; 
}

/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/wiki/SyntaxHighlighter:Donate
 *
 * @version
 * 2.0.296 (March 01 2009)
 * 
 * @copyright
 * Copyright (C) 2004-2009 Alex Gorbatchev.
 *
 * @license
 * This file is part of SyntaxHighlighter.
 * 
 * SyntaxHighlighter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * SyntaxHighlighter is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with SyntaxHighlighter.  If not, see <http://www.gnu.org/licenses/>.
 */
/************************************
 * Default Syntax Highlighter theme.
 * 
 * Interface elements.
 ************************************/

.syntaxhighlighter {
	background-color: #E7E5DC !important;
}

/* Highlighed line number */
.syntaxhighlighter .line.highlighted .number {
	background-color: #6CE26C !important;
	color: black !important;
}

/* Highlighed line */
.syntaxhighlighter .line.highlighted.alt1 .content,
.syntaxhighlighter .line.highlighted.alt2 .content {
	background-color: #6CE26C !important;
}

/* Gutter line numbers */
.syntaxhighlighter .line .number {
	color: #5C5C5C !important;
}

/* Add border to the lines */
.syntaxhighlighter .line .content {
	border-left: 3px solid #6CE26C !important;
	color: #000 !important;
}

.syntaxhighlighter.printing .line .content {
	border: 0 !important;
}

/* First line */
.syntaxhighlighter .line.alt1 .content {
	background-color: #fff !important;
}

/* Second line */
.syntaxhighlighter .line.alt2 .content {
	background-color: #F8F8F8 !important;
}

.syntaxhighlighter .line .content .block {
	background: url(/syntax-highlighter/styles/wrapping.png) 0 1.1em no-repeat !important;
}

.syntaxhighlighter .ruler {
	color: silver !important;
	background-color: #F8F8F8 !important;
	border-left: 3px solid #6CE26C !important;
}

.syntaxhighlighter.nogutter .ruler {
	border: 0 !important;
}

.syntaxhighlighter .toolbar {
	background-color: #F8F8F8 !important;
	border: #E7E5DC solid 1px !important;
}

.syntaxhighlighter .toolbar a {
	color: #a0a0a0 !important;
}

.syntaxhighlighter .toolbar a:hover {
	color: red !important;
}

/************************************
 * Actual syntax highlighter colors.
 ************************************/
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a { 
	color: #000 !important;
}

.syntaxhighlighter .comments,
.syntaxhighlighter .comments a { 
	color: #008200 !important;
}

.syntaxhighlighter .string,
.syntaxhighlighter .string a {
	color: blue !important; 
}

.syntaxhighlighter .keyword { 
	color: #069 !important; 
	font-weight: bold !important; 
}

.syntaxhighlighter .preprocessor { 
	color: gray !important; 
}

.syntaxhighlighter .variable { 
	color: #a70 !important; 
}

.syntaxhighlighter .value { 
	color: #090 !important; 
}

.syntaxhighlighter .functions { 
	color: #ff1493 !important; 
}

.syntaxhighlighter .constants { 
	color: #0066CC !important; 
}

.syntaxhighlighter .script { 
	background-color: yellow !important;
}

.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a { 
	color: #808080 !important; 
}

.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a { 
	color: #ff1493 !important; 
}

.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a { 
	color: red !important; 
}