body {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
	
	-webkit-box-pack: end;
	-moz-box-pack: end;
	box-pack: end;
}

#examples .example-list {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
}

#examples .example-list .example-group {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
