@font-face {
	font-family: "Chunk Five";
	src: url("/fonts/chunk-webfont.eot");
	src: local("☺"),
	     url("/fonts/chunk-webfont.woff") format("woff"),
	     url("/fonts/chunk-webfont.ttf") format("truetype");
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font: normal 11px/1.35 "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: right;
	background: #eee url("/images/bg-body-texture.jpg") center top;
	color: #fefefe;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
	font-weight: normal;
	
	/* IE 8 */
	overflow-x: hidden;
	overflow-y: visible;
}

section, header, footer {
	padding: 20px;
}

h1 {
	font-weight: normal;
	font-family: "Chunk Five", serif;
	font-size: 24px;
}

section, footer {
	border-top: 1px solid #2a2a2a;
	background: #2a2a2a url("/images/bg-texture.jpg") center;
}

header h1 {
	position: relative;
	line-height: 1;
	text-shadow: none;
}

header h1 span {
	top: 43px;
	left: -204px;
	position: relative;
	z-index: 2;
	color: #ddd;
	opacity: 0.9;
}

header h1 em {
	margin-top: -20px;
	top: 0;
	right: 0;
	position: absolute;
	font-size: 80px;
	z-index: 1;
	letter-spacing: -0.02em;
	color: #2a2a2a;
	font-style: normal;
}

header h1 a {
	padding: 0;
	color: #ddd;
	border-bottom: 1px dashed #555;
}

header h1 a:hover {
	color: #fff;
	border-bottom: 0;
}

h2 {
	padding: 0 5px;
	display: inline-block;
	zoom: 1; /* IE 6 & 7 */
	*display: inline; /* IE 6 & 7 */
	background: #962d3e;
	font-size: 20px;
	border-radius: 3px;
	color: #fefefe;
}



h3 {
	margin-bottom: 5px;
	font-size: 16px;
}

h4 {
	margin-top: 5px;
	font-size: 13px;
}

a {
	padding: 1px;
	color: #fefefe;
	text-decoration: none;
	
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

section img {
	border: 3px solid #8e8e8e;
}

a:hover {
	background: #348899;
}

#examples .example-list {
	width: 100%;
	margin-top: 20px;
}

*:first-child + html #examples .example-list {
	margin-bottom: 20px;
}

#examples .example-list  .example-group {
	margin-bottom: 20px;
	min-width: 150px;
}

#examples li li {
	margin-left: 10px;
	display: inline;
	position: relative;
	zoom: 1;
}

#examples li li:last-child {
	font-weight: bold;
}

#examples li ul + h3 {
	margin-top: 20px;
}

#examples li li ul {
	position: absolute;
	margin-left: -30px;
	top: 15px;
	left: 50%;
	width: 60px;
	line-height: 1.2;
	text-align: center;
}

* html #examples li li ul {
	left: auto;
	right: 0;
}

#examples li li li {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	font-size: 10px;
	font-weight: normal;
}

#examples li li li:last-child {
	font-weight: normal;
}

#info a {
	border-bottom: 1px dashed;
	border-bottom-color: #fff;
	border-bottom-color: rgba(255, 255, 255, 0.4);
}

#code {
	margin: 10px;
	padding: 5px;
	display: block;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 3;
	text-align: left;
	text-shadow: none;
	border: 1px solid #aaa;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 350ms ease-in-out;
	background: #999 url("/images/bg-body-texture.jpg") center;
}

#code a {
	color: #6a6a6a;
	background: none;
}

#code pre {
	margin-top: 5px;
	padding: 20px;
	display: none;
	background: #555;
	background: rgba(0, 0, 0, 0.6);
	font-family: "Monaco", "Courier New", Courier, monospace;
	line-height: 13px;
}

#code:hover {
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

#code:hover pre {
	display: block;
}

#html5-logo {
	float: left;
}

#html5-logo a {
	background: none;
}