@font-face {
	font-family: "Chunk Five";
	src: url("../fonts/chunk-webfont.eot");
	src: local("☺"),
	     url("../fonts/chunk-webfont.woff") format("woff"),
	     url("../fonts/chunk-webfont.ttf") format("truetype");
}

html, body {
	height: 100%;
}

body {
	padding: 1px 0 0;
	font: 11px/1.35 "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: right;
	background: #eee url("../images/bg-body-texture.jpg") center top;
	color: #fefefe;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
	font-weight: normal;
}

body > * {
	padding: 20px;
	
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

h1 {
	font: 24px "Chunk Five" serif;
}

section, footer {
	border-top: 1px solid #2a2a2a;
	background: #2a2a2a url("../images/bg-texture.jpg") center;
}

header h1 {
	position: relative;
	line-height: 1;
	text-shadow: none;
}

header h1 span {
	top: 43px;
	left: -204px;
	position: relative;
	z-index: 2;
	color: #ddd;
	opacity: 0.9;
}

header h1 span:after {
	content: ".";
}

header h1 em {
	margin-top: -20px;
	top: 0;
	right: 0;
	position: absolute;
	font-size: 80px;
	z-index: 1;
	letter-spacing: -0.02em;
	color: #2a2a2a;
}

h2 {
	padding: 0 5px;
	display: inline-block;
	background: #962d3e;
	font-size: 20px;
	border-radius: 3px;
	color: #fefefe;
}

h3 {
	margin-bottom: 5px;
	font-size: 16px;
}

h4 {
	margin-top: 5px;
	font-size: 13px;
}

a {
	padding: 1px;
	color: #fefefe;
	text-decoration: none;
	
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

img {
	border: 3px solid #8e8e8e;
}

a:hover {
	background: #348899;
}

#playground {
	padding-top: 50px;
}

#examples > ul {
	margin-top: 20px;
}

#examples > ul:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

#examples > ul {
	display: inline-block;
	display: block;
}

#examples > ul > li {
	margin-bottom: 20px;
	min-width: 150px;
}

#examples li li {
	margin-left: 10px;
	display: inline;
	position: relative;
}

#examples li li:last-child {
	font-weight: bold;
}

#examples li ul + h3 {
	margin-top: 20px;
}

#examples li li ul {
	position: absolute;
	margin-left: -30px;
	top: 15px;
	left: 50%;
	width: 60px;
	line-height: 1.2;
	text-align: center;
}

#examples li li li {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	font-size: 10px;
	font-weight: normal;
}

#examples li li li:last-child {
	font-weight: normal;
}