 /* flex box styles */
.flexbox {
    display:-moz-box;
    display:-webkit-box;
    display: box;
    
    margin: 0;
    padding: 10px 0; 
 }
 #main { 
     width: 600px; 
     padding: 0;  
 }
 #box-1 {
     -moz-box-flex: 1;
     -webkit-box-flex: 1;
     box-flex: 1;
     
    /* remove the fixed width */ width: auto;
 }
 #box-2 {
     
     -moz-box-flex: 2;
     -webkit-box-flex:2;
     box-flex: 2;
     /* remove the fixed width */ width: auto;
 }
 #box-3 {     
     
     -moz-box-flex: 7;
     -webkit-box-flex: 7;
     box-flex: 7;
     /* remove the fixed width */ width: auto;
 }
