/* Demo Styling. Pay no attention to the CSS behind the box */
/* (See what I did there?) */

body, html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

/* First, we create a box with header and footer, content area in between. */
#doc { 
	height: 100%; 
	width: 100%;
}

#header, #footer {
	background-color: gray;
	height: 100px;
	width: 100%;
	margin: 0;
}

p {
	width: 200px;
}

#products {
	background-color: silver;
	width: 100%;
	height: 400px;
	margin: 0;
}

#phones {
	background-color: orange;
	padding: 1em;
	margin: 0;
}

#computers {
	background-color: lightgreen;
	padding: 1em;
	margin: 0;
}

#fast-cars {
	background-color: lightblue;
	padding: 1em;
	margin: 0;
}
