/*
Properties to test:
(via <http://www.html5rocks.com/tutorials/flexbox/quick/>)

Parent properties:
--------------------------

+ display: box
	- This new value for the display style opts this element and its immediate children into the flexible box model.
	  The flexbox model works only with immediate children.

+ box-orient
	- How should the box's children be aligned?
	- Values:
		+ horizonal (default)
		- vertical
		- inherit
		+ inline-axis (maps to horizontal)
		- block-axis (maps to vertical)

+ box-align
	- Basically box-pack's brother property.
	  Sets how the box's children are aligned in the box.
	  If the orientation is horizontal it will decide the alignment vertically and vice-versa.
	- Values:
		+ stretch (default)
		+ start
		+ end
		+ center
		- baseline

+ box-direction
	- Children within a horizontally oriented box are, by default, displayed from left to right in the same
	  order as they appear in the source document. Children within a vertically oriented box are displayed
	  top to bottom in the same order. The box-direction and box-ordinal-group properties may be used to
	  change this ordering.
	- Values:
		+ normal (default)
		+ reverse
		- inherit

+ box-pack
	- Sets the alignment of the box along the box-orient axis.
  	  So if box-orient is horizontal it will chose how the box's children are aligned horizontally, and vice-versa.
	- Values:
		+ start (default)
		+ end
		+ center
		+ justify

Child properties:
--------------------------
+ box-flex
	- The flexibility ratio for this child.
	  If a child had 1 and its sibling had 2, any additional space in the parent box would be consumed
	  twice as much by the sibling. It defaults to 0 which is inflexible.
	- Values:
		- 0 (default)
		- Any integer

box-ordinal-group
	-
	- Values:
		- 1 (default)
		- Any integer

??? properties:
--------------------------
box-flex-group
box-lines

*/

#doc {
	/* Display Box */
	display: -moz-box;
	display: -webkit-box;
	display: -ms-box;
	display: box;
	
	/* Box Orient */
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;
}

#header, #footer {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
}

/* Since #container is the second child element of a vertically oriented box,
* we could give it flex, which would fill up the viewport vertically. Try it! */
#products {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
	
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	box-orient: horizontal;
	
	/* Uncomment these rules and see what happens */
/*	-webkit-box-flex: 1; */
/*	-moz-box-flex: 1; */
/*	-ms-box-flex: 1; */
/*	box-flex: 1;*/
}

#computers {
	/* Activating these rules and removing box-flex from #fast-cars will give you a classic 3-column layout with flexible center column. */
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
}

#fast-cars {
	/* Change these values to 3 and see what happens */
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
}
