html, body{
	padding : 0;
	margin : 0;
	height : 100%;
	width : 100%
}

body{
	font : 0.8em Arial, Helvetica, sans-serif;
	line-height : 1.4em;
	
	display : -moz-box;
	display : -webkit-box;
	display : box;
	
	-moz-box-orient : horizontal;
	-moz-box-pack : center;
	
	-webkit-box-orient : horizontal;
	-webkit-box-pack : center;
	
	box-orient : horizontal;
	box-pack : center;
}

section{
	display : block;
}

#page{
	height : 100%;
	max-width : 800px;
	
	display : -moz-box;
	display : -webkit-box;
	display : box;
	
	-moz-box-orient : vertical;
	-moz-box-flex : 1;
	
	-webkit-box-orient : vertical;
	-webkit-box-flex : 1;
	
	box-orient : vertical;
	box-flex : 1;
}

header{
	display : block;
	padding : 10px;
	background : #EFEFEF;
	margin-bottom : 20px;
	
	-moz-border-radius : 0 0 10px 10px;
	-webkit-border-radius : 0 0 10px 10px;
	border-radius : 0 0 10px 10px;
}

footer{
	display : block;
	padding : 10px;
	background : #EFEFEF;
	text-align : center;
	margin-top : 20px;
	
	-moz-border-radius : 10px 10px 0 0 ;
	-webkit-border-radius : 10px 10px 0 0 ;
	border-radius : 10px 10px 0 0 ;
}

footer p{
	margin-top : 0;
}

#main{
	display : -moz-box;
	display : -webkit-box;
	display : box;
	
	-moz-box-flex : 1;
	-moz-box-orient : horizontal;
	-moz-box-direction : reverse;
	
	-webkit-box-flex : 1;
	-webkit-box-orient : horizontal;
	-webkit-box-direction : reverse;
	
	box-flex : 1;
	box-orient : horizontal;
	box-direction : reverse;
}

#content{
	padding : 0 20px 10px 10px;
	
	display : -moz-box;
	display : -webkit-box;
	display : box;

	-moz-box-flex : 1;
	-moz-box-orient : vertical;
	-moz-box-direction : normal;
	
	-webkit-box-flex : 1;
	-webkit-box-orient : vertical;
	-webkit-box-direction : normal;
	
	box-flex : 1;
	box-orient : vertical;
	box-direction : normal;
}

#content article{
	display : block;
	margin : 0.5em 0;
	
	-moz-box-ordinal-group : 2;
	-webkit-box-ordinal-group : 2;
	box-ordinal-group : 2;
}

#content article h2{
	margin-top : 0;
}

#content nav{
	border-top : 1px solid #CCC;
	padding-top : 10px;
	margin-top : 10px;
	
	display : -moz-box;
	display : -webkit-box;
	display : box;
	
	-moz-box-orient : horizontal;
	-moz-box-ordinal-group : 2;
	
	-webkit-box-orient : horizontal;
	-webkit-box-ordinal-group : 2;
	
	box-orient : horizontal;
	box-ordinal-group : 2;
}

#content nav a{
	display : block;
	
	-moz-box-flex : 1;
	-webkit-box-flex : 1;
	box-flex : 1;
}

#content nav a:last-child{
	text-align : right;
}

#content .topgroup{
	-moz-box-ordinal-group : 1;
	-webkit-box-ordinal-group : 1;
	box-ordinal-group : 1;
	
	-moz-border-radius : 5px;
	-moz-box-shadow : 0 0 5px #ECC;
	
	-webkit-border-radius : 5px;
	-webkit-box-shadow : 0 0 5px #ECC;
	
	border-radius : 5px;
	box-shadow : 0 0 5px #ECC;
	
	border : 1px solid #FCC;
	padding : 10px;
}

#content .topgroup h2{
	margin-top : 0;
}

#sidebar{
	width : 180px;
	padding : 10px;
	border-right : 1px solid #CCC;
}

#sidebar div:first-of-type h2:first-of-type{
	margin-top : 0;
}

#sidebar ul{
	display : -moz-box;
	display : -webkit-box;
	display : box;
	
	-moz-box-orient : vertical;
	-moz-box-direction : normal;
	
	-webkit-box-orient : vertical;
	-webkit-box-direction : normal;
	
	box-orient : vertical;
	box-direction : normal;
}

#sidebar .topgroup{
	-moz-box-ordinal-group : 1;
	-webkit-box-ordinal-group : 1;
	box-ordinal-group : 1;
	
	font-weight : bold;
}

#sidebar li{
	-moz-box-ordinal-group : 2;
	-webkit-box-ordinal-group : 2;
	box-ordinal-group : 2;
}

#sidebar form{
	display : -moz-box;
	display : -webkit-box;
	display : box;
	
	-moz-box-orient : horizontal;
	
	-webkit-box-orient : horizontal;
	
	box-orient : horizontal;
}

#sidebar form input[type="text"]{
	-moz-box-flex : 1;
	-webkit-box-flex : 1;
	box-flex : 1;
}
